#pannel
    table
        border-collapse collapse
        margin-bottom 10px
        td
            width 10px
            height 10px
            border 1px solid #000
            &.food
                background green
            &.body
                background #f60